.hero {
  width: 80%;
  margin: 120px auto 140px;
}
.hero__title {
  font-size: 74px;
  line-height: 90px;
  width: 45%;
}
.hero__subtitle {
  font-size: 18px;
  color: hsl(257deg, 7%, 63%);
  width: 30%;
  margin-top: 10px;
}
.hero__image {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 130px;
  transform: translate(100px, 0);
}

.action__button {
  margin-top: 40px;
  background-color: hsl(180deg, 66%, 49%);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.335s ease-in;
}
.action__button:hover {
  cursor: pointer;
  background-color: hsl(180deg, 90%, 65%);
}

.url-short {
  width: 80%;
  height: 150px;
  background-image: url(./../../images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(257deg, 27%, 26%);
  border-radius: 10px;
  position: absolute;
  z-index: 3;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.url-short__input {
  padding: 20px 40px;
  font-size: 18px;
  width: 60%;
  border: none;
  border-radius: 10px;
  margin-right: 20px;
}
.url-short__button {
  color: white;
  background-color: hsl(180deg, 66%, 49%);
  border: none;
  padding: 20px 40px;
  font-size: 18px;
  border-radius: 10px;
  transition: all 0.335s ease-in;
}
.url-short__button:hover {
  cursor: pointer;
  background-color: hsl(180deg, 90%, 65%);
}

.stats {
  background-color: hsl(0deg, 0%, 95%);
  margin-top: 210px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 50px;
  position: relative;
}
.stats .card-line {
  position: absolute;
  z-index: 1;
  top: 600px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50%;
  border: none;
  height: 8px;
  background-color: hsl(180deg, 66%, 49%);
}
.stats__title {
  font-size: 54px;
}
.stats__subtitle {
  width: 28%;
  margin: 0 auto;
  font-size: 18px;
  color: hsl(257deg, 7%, 63%);
}
.stats__cards {
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 30px;
  width: 1260px;
  position: relative;
  z-index: 2;
}
.stats__cards .card {
  width: 400px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}
.stats__cards .card__background {
  background-color: hsl(257deg, 27%, 26%);
  padding: 16px 20px;
  border-radius: 50px;
  position: absolute;
  left: 20px;
  top: -40px;
}
.stats__cards .card__title {
  font-size: 24px;
  text-align: left;
  width: 85%;
  margin: 60px auto 0;
}
.stats__cards .card__subtitle {
  text-align: left;
  font-size: 18px;
  width: 85%;
  margin: 20px auto 0;
  color: hsl(257deg, 7%, 63%);
}
.stats__cards .card__second {
  margin-top: 40px;
}
.stats__cards .card__third {
  margin-top: 80px;
}

.action {
  background-image: url(./../../images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(257deg, 27%, 26%);
  text-align: center;
  padding: 80px 0;
}
.action__title {
  color: white;
  font-size: 44px;
}

/* Adaptive */
@media (max-width: 1400px) {
  .stats__cards {
    grid-template-columns: repeat(3, 300px);
    width: 940px;
    gap: 20px;
  }
  .stats__cards .card {
    width: 300px;
  }
  .stats__cards .card__title {
    font-size: 20px;
  }
  .stats__cards .card__subtitle {
    font-size: 16px;
  }
}
@media (max-width: 1250px) {
  .hero__image {
    transform: translate(150px, 0);
    width: 650px;
    top: 200px;
  }
  .hero__title {
    font-size: 60px;
    width: 55%;
  }
  .hero__subtitle {
    width: 40%;
  }
  .stats__subtitle {
    width: 50%;
  }
}
@media (max-width: 1100px) {
  .hero {
    width: 90%;
  }
  .url-short {
    width: 90%;
  }
  .stats__cards {
    grid-template-columns: repeat(3, 250px);
    width: 790px;
  }
  .stats__cards .card {
    width: 250px;
  }
}
@media (max-width: 980px) {
  .hero__title {
    font-size: 46px;
    line-height: 70px;
  }
  .hero__subtitle {
    font-size: 16px;
  }
  .hero__image {
    width: 550px;
  }
  .url-short {
    height: 120px;
  }
  .url-short__input {
    padding: 20px 20px;
    font-size: 16px;
  }
  .url-short__button {
    padding: 20px 20px;
    font-size: 16px;
  }
  .stats {
    margin-top: 200px;
    padding-top: 150px;
  }
  .stats__title {
    font-size: 38px;
  }
  .stats__subtitle {
    font-size: 16px;
  }
  .stats__cards {
    grid-template-columns: 350px;
    justify-content: center;
    width: 90%;
    gap: 40px;
  }
  .stats__cards .card {
    width: 350px;
    height: 250px;
  }
  .stats__cards .card__title {
    text-align: center;
  }
  .stats__cards .card__subtitle {
    text-align: center;
  }
  .stats__cards .card__second {
    margin-top: 40px;
  }
  .stats__cards .card__third {
    margin-top: 40px;
  }
  .stats__cards .card__background {
    left: 50%;
    transform: translate(-50%);
  }
  .stats .card-line {
    height: 600px;
    width: 8px;
    margin: 0 auto;
  }
}
@media (max-width: 780px) {
  .hero {
    margin: 500px auto 90px;
  }
  .hero__image {
    position: absolute;
    top: 100px;
    transform: translate(200px, 0);
    width: 650px;
  }
  .hero__title {
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }
  .hero__subtitle {
    width: 60%;
    text-align: center;
    margin: 0 auto;
  }
  .action__button {
    display: flex;
    margin: 40px auto 0;
  }
  .url-short {
    display: grid;
    grid-template-columns: 1fr;
    height: 180px;
    padding: 20px 0;
  }
  .url-short__input {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    text-indent: 20px;
  }
  .url-short__button {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
  }
  .stats {
    padding-top: 200px;
  }
  .action__title {
    font-size: 32px;
  }
}
@media (max-width: 560px) {
  .hero {
    margin: 350px auto 90px;
  }
  .hero__image {
    width: 440px;
    transform: translate(150px, 0);
  }
  .hero__title {
    width: 90%;
    font-size: 32px;
    line-height: 50px;
  }
  .hero__subtitle {
    width: 80%;
  }
  .stats__title {
    font-size: 24px;
  }
  .stats__subtitle {
    width: 80%;
  }
  .stats__cards {
    grid-template-columns: 280px;
  }
  .stats__cards .card {
    width: 280px;
  }
  .stats__cards .card__subtitle {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */